:root {
    --gray: #343333;
}

.search{
    background-color: var(--gray);
    padding-bottom: 1.5rem;
}

.search__header{
    color: #fff;
    padding-top: 2rem;
}

.search__input{
    border: 3px solid #616161;
    clear: both;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    padding: 1.5rem;
}   

.search__button{
    background-color: #ee6b2f;
}

.input__flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn_search{
    background-color: #ee6b2f;
    border-radius: 10px;
    margin: -0.5rem 1.5rem 1.5rem 1.5rem ;
}

.btn_search:hover{
    background-color: #c66438;
}

.search__alert{
    background-color: #4dad5b;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    width: 100%;
}

.search__alert:hover{
    background-color: #489553;
}

@media (min-width: 768px){
    .search__alert{
        margin-top: 2rem;
    }
}

@media (min-width: 960px){
    .search__alert{
        font-size: 2rem;
    }
}

@media (min-width: 768px){
    .search__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.results__error{
    font-size: large;
    margin-top: 5rem;
    padding: 2rem;
    text-align: center;
}

.results__error:first-letter{
    text-transform: capitalize;
}