html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a{
  text-decoration: none;
}

img{
  max-width: 100%;
  display: block;
}

.container{
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

[class$="__container"]{
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

.title{
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
  cursor: pointer;
}

@media (min-width: 768px){
  .title{
    font-size: 5rem;
  }
}

.heroDex__logo{
  cursor: pointer;
}

@media (min-width: 768px){
  .heroDex__logo{
    height: 5rem;
  }
}

.heroDex__flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}